<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text=${titulo}></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> </link>
</head>
<body>
<h1 class="color-rojo" th:text=${titulo}></h1>
<h2 class="color-azul" th:text=${titulo}></h2>
<ul>
<li><a th:href="@{/variables/string/}+'hola jorge'">/variables/string/hola jorge </a></li>
<li><a th:href="@{/variables/string/}+'hola john'">/variables/string/hola john </a></li>
<li><a th:href="@{/variables/string/}+${titulo}+'/'+7">/variables/string/hola manuel/7 </a></li>
<img th:src="@{/images/ERRROR CIV.png}"></img>
</ul>
</body>
</html>